.explore-container {
    margin-top: 700px;
    opacity: 0;
}
.carousel {
    margin-top: 200px;
}

.carousel-inner {
    height: 800px;
}
.carousel-control-prev-icon {
    color: #000 !important;
    width: 4rem;
    height: 4rem;
}

/* ANIMATIONS */

.scroll-animation-explore {
    margin-top: 0 !important;
    opacity: 1 !important;
    transition: 3s;
}
