.main-window {
    display: flex;
    flex-wrap: wrap;
    margin: 0 120px 0 120px;
}
.vertical-container-margin {
    width: 150px;
}
.top-title {
    margin: 10px 0 10px 10px;
    width: 100%;
}
.top-title h2 {
    font-family: 'Sulphur Point';
    font-size: 60px;
}

/* INSIDE SCREEN */

.inside-screen {
    background-image: url('img/BG-HWS.JPG');
    background-repeat: no-repeat;
    width: 100%;
    height: 729px;
    padding: 80px 0 0 50px;
}
.inside-screen .black-opacity {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: relative;
}

/* MAIN TITLE */

.inside-screen .main-title {
    width: 600px;
}
.inside-screen .main-title h1 {
    font-family: 'Sulphur Point';
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}

/* MAIN SUBTITLE */

.inside-screen .main-subtitle {
    width: 600px;
    margin-left: 30px;
}

.inside-screen .main-subtitle span {
    font-family: 'Open Sans';
    font-size: 34px;
    font-weight: 300;
    color: #fff;
}

/* SEARCHER */

.inside-screen .searcher-container {
    display: flex;
    margin: 100px auto 0 auto;
    width: 600px;
    border: 5px solid rgba(255, 255, 255, 0.8)
}

.inside-screen .searcher-container .searcher {
    background-color: rgba(255, 255, 255, 0.5);
    width: 600px;
    height: 80px;;
    outline: none;
    border: none;

    font-family: 'Open Sans';
    font-size: 24px;
    color: #fff;
    padding-left: 20px;

}
.inside-screen .searcher-container .submit {
    width: 150px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-screen .searcher-container .submit:hover {
    cursor: pointer;
} 

/* SCROLL */

.inside-screen .scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}

.inside-screen .scroll span {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
}

.inside-screen .scroll .white-bar {
    background: #fff;
    width: 1px;
    height: 20px;
}

.inside-screen .scroll .black-bar {
    background: #000;
    width: 1px;
    height: 20px;
}

/* VERTICAL BAR LEFT */

.main-window .vertical-bar-left {
    position: fixed;
    top: 44px;

}

.main-window .vertical-bar-left svg {
    position: fixed;
    left: 60px;
}

.main-window .vertical-bar-right {
    position: fixed;
    top: 600px;

}

.main-window .vertical-bar-right svg {
    position: fixed;
    right: 80px;
}

/* SOCIAL MEDIA */

.main-window .social-media {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 100px;
    right: 55px;
    top: 200px;
}
