.form-reserve form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 45px;
}

.form-reserve form input {
    background-color: transparent;
    color: #000;
    outline: none;
    border: none;
    font-family: 'Open Sans';
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.form-reserve form select {
    background-color: transparent;
    color: #000;
    outline: none;
    border: none;
    font-family: 'Open Sans';
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.form-reserve form select option {
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans';

}